In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('..\\csv\\DHFL.csv')

In [3]:
df = df[df['Series'] == 'EQ']

In [4]:
df['Date'] = pd.to_datetime(df['Date'])
df.reset_index(inplace=True, drop=True)
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,DHFL,EQ,2019-05-07,132.95,134.1,135.5,114.85,115.85,116.60,123.59,40282663,4.978488e+09,224949,7841695,19.47
490,DHFL,EQ,2019-05-08,116.60,114.4,120.5,110.10,116.45,116.30,116.45,43462525,5.061121e+09,227480,3103271,7.14
491,DHFL,EQ,2019-05-09,116.30,117.0,120.2,115.00,116.00,116.00,117.49,22773577,2.675733e+09,128347,2423242,10.64
492,DHFL,EQ,2019-05-10,116.00,118.0,119.4,115.10,116.20,116.40,117.48,14732475,1.730776e+09,80911,1657063,11.25
493,DHFL,EQ,2019-05-13,116.40,116.0,116.0,110.10,111.05,110.95,112.51,17593462,1.979501e+09,106435,1837700,10.45

In [5]:
close_prices = df.iloc[-90:, 8]
max_price = max(close_prices)
min_price = min(close_prices)
avg_price = close_prices.mean()
print('Max Price: {}\nMin Price: {}\nMean Price: {}'.format(max_price, min_price, avg_price))

Max Price: 249.4
Min Price: 104.85
Mean Price: 156.73111111111112

In [6]:
df.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [7]:
min(df['Date']) - max(df['Date'])

Timedelta('-728 days +00:00:00')

In [8]:
df['Prod'] = df['Average Price'] * df['Total Traded Quantity']

In [9]:
vwap_df = df.groupby([(df['Date'].dt.year), (df['Date'].dt.month)]).sum()

vwap_df['VWAP'] = vwap_df['Prod'] / vwap_df['Total Traded Quantity']

In [10]:
vwap_df.iloc[:, -1]

Date  Date
2017  5       412.465823
      6       441.712387
      7       453.741591
      8       465.204911
      9       557.208324
      10      577.204054
      11      637.873152
      12      598.029210
2018  1       603.820756
      2       539.518579
      3       512.475172
      4       582.498091
      5       625.048209
      6       626.359542
      7       617.522257
      8       638.792070
      9       369.680167
      10      238.448558
      11      227.675809
      12      225.705821
2019  1       181.826228
      2       119.917406
      3       140.435449
      4       156.678074
      5       124.296387
Name: VWAP, dtype: float64

In [11]:
df.drop('Prod', axis=1, inplace=True)

In [12]:
def AvgPrice(df, n):
    
    return round(df.iloc[-n:, 8].mean())

for i in ([5, 10, 20, 60, 120, 240]):
    print('Mean Closing Price for {} days is {}'.format(i, AvgPrice(df, i)))

Mean Closing Price for 5 days is 115.0
Mean Closing Price for 10 days is 126.0
Mean Closing Price for 20 days is 142.0
Mean Closing Price for 60 days is 138.0
Mean Closing Price for 120 days is 173.0
Mean Closing Price for 240 days is 344.0

In [13]:
def ProfLoss(df, n):
    sp = df.iloc[-1, 8]
    cp = df.iloc[-(n+1), 8]
    
    return round(((sp - cp) / cp) * 100, 1)

print('Negative % means loss\n')

for i in ([5, 10, 20, 60, 120, 240]):
    print('Profit % for {} days is {}'.format(i, ProfLoss(df, i)))

Negative % means loss

Profit % for 5 days is -16.5
Profit % for 10 days is -23.3
Profit % for 20 days is -33.7
Profit % for 60 days is 1.6
Profit % for 120 days is -53.6
Profit % for 240 days is -81.9

In [14]:
df['Day_Perc_Change'] = df['Close Price'].pct_change()*100
df.iloc[0, -1] = 0
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Day_Perc_Change
0,DHFL,EQ,2017-05-15,426.65,429.50,434.40,427.05,431.00,431.40,430.94,1160661,5.001759e+08,15111,295581,25.47,0.000000
1,DHFL,EQ,2017-05-16,431.40,431.00,433.80,421.65,424.05,424.45,425.13,1662805,7.069152e+08,31644,681320,40.97,-1.611034
2,DHFL,EQ,2017-05-17,424.45,424.50,432.50,420.10,428.30,429.00,428.13,1443843,6.181483e+08,20808,371928,25.76,1.071975
3,DHFL,EQ,2017-05-18,429.00,424.95,427.90,416.55,418.50,417.95,422.22,1639654,6.923007e+08,32812,534358,32.59,-2.575758
4,DHFL,EQ,2017-05-19,417.95,423.00,426.45,398.65,405.90,404.20,411.93,2693962,1.109716e+09,33554,884888,32.85,-3.289867

In [15]:
s = '''
'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
'Positive' for 'Day_Perc_Change' in between 1 and 3
'Negative' for 'Day_Perc_Change' in between -1 and -3
'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
'Among top losers' for 'Day_Perc_Change' in between -3 and -7
'Bull run' for 'Day_Perc_Change' >7
'Bear drop' for 'Day_Perc_Change' <-7
'''

l = [i.split("'")[1] for i in [i for i in s.split('\n')[1:-1]]]
df['Trend'] = 'No Trend'

In [16]:
df.loc[(df['Day_Perc_Change'] >= -0.5) & (df['Day_Perc_Change'] <= 0.5), 'Trend'] = l[0]

In [17]:
df.loc[(df['Day_Perc_Change'] >= 0.5) & (df['Day_Perc_Change'] <= 1), 'Trend'] = l[1]

In [18]:
df.loc[(df['Day_Perc_Change'] >= -1) & (df['Day_Perc_Change'] <= -0.5), 'Trend'] = l[2]

In [19]:
df.loc[(df['Day_Perc_Change'] >= 1) & (df['Day_Perc_Change'] <= 3), 'Trend'] = l[3]

In [20]:
df.loc[(df['Day_Perc_Change'] >= -3) & (df['Day_Perc_Change'] <= -1), 'Trend'] = l[4]

In [21]:
df.loc[(df['Day_Perc_Change'] >= 3) & (df['Day_Perc_Change'] <= 7), 'Trend'] = l[5]

In [22]:
df.loc[(df['Day_Perc_Change'] >= -7) & (df['Day_Perc_Change'] <= -3), 'Trend'] = l[6]

In [23]:
df.loc[df['Day_Perc_Change'] >= 7, 'Trend'] = l[7]

In [24]:
df.loc[df['Day_Perc_Change'] <= -7, 'Trend'] = l[8]

In [25]:
df['Trend'].value_counts()

Positive               104
Slight or No change    102
Negative                91
Among top gainers       47
Among top losers        46
Slight negative         45
Slight positive         32
Bear drop               17
Bull run                10
Name: Trend, dtype: int64

In [26]:
df.groupby('Trend')['Total Traded Quantity'].agg(['mean', 'median'])

                             mean      median
Trend
Among top gainers    1.563252e+07  11057807.0
Among top losers     1.463443e+07  11183004.5
Bear drop            4.970570e+07  41149209.0
Bull run             5.463899e+07  52850290.0
Negative             6.044635e+06   3754461.0
Positive             8.306318e+06   4810073.5
Slight negative      5.539606e+06   3949566.0
Slight or No change  5.746745e+06   3166231.5
Slight positive      7.818417e+06   5936906.5

In [27]:
df.to_csv('week2.csv', index=False)